/**
 ****************************
 * Generic Styles
 ****************************
*/

.ag-theme-alpine {
  --ag-header-background-color: var(--theme-color4) !important;
  --ag-header-foreground-color: var(--theme-color1) !important;
  --ag-row-hover-color: none;
  --ag-font-weight: 600;
  --ag-font-family: Roboto, sans-serif;
  --ag-height: 30px !important;
}

.ag-header-cell-label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: capitalize;
  color: var(--theme-color1) !important;
  font-weight: 600;
  cursor: default;
  overflow: hidden;
  opacity: 1;
  font-size: 0.875rem;
}

.ag-header-cell {
  border-radius: 8px;
}

/* .ag-row:nth-child(even) {
  background-color: #ffffff;
}

.ag-row:nth-child(odd) {
  background-color: #f9f9f9;
} */

.ag-cell {
  border-right: 1px solid #ffffff;
}

.ag-cell.currency {
  text-align: right;
}

.ag-row.ag-row-pinned {
  background: var(--theme-color4) !important;
  line-height: 22px;
  text-align: center;
  border: none !important;
  pointer-events: none;
}
.ag-floating-bottom {
  height: 23px !important;
  min-height: 23px !important;
  border-top: none !important;
}

.ag-row.ag-row-pinned .ag-cell {
  border: none !important;
  color: var(--theme-color3);
  font-weight: 700;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 10px;
  height: 23px !important;
  min-height: 23px !important;
  line-height: inherit;
}

.error-border {
  border: 1px solid #d32f2f !important;
  border-radius: 2px;
}

.cell-placeholder {
  color: var(--theme-color6) !important;
  height: 15px;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: capitalize;
  /* font-weight: 600; */
  cursor: default;
  overflow: hidden;
  opacity: 1;
  font-size: 0.875rem;
}

.main-container {
  padding: 10px;
}

.cell-value {
  color: black;
  height: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
}

.ag-cell .MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0px !important;
}

.ag-cell .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 4.5px 4px 4.5px 5px;
}
.ag-cell .MuiOutlinedInput-notchedOutline {
  border: none !important;
  border-style: none !important;
  border-color: none !important;
}
